{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'grid-x',
    'grid-padding-x'
  ]
%}
<div class="grid-background-contact">
  <div class="grid-container contact-small">
    <div {{ attributes.addClass(classes).setAttribute('id', 'contact-section') }}>
  {{ title_suffix }}
  <div class="cell small-11 medium-12 align-center">
    <h2>{{ content.0.field_section_title }}</h2>
  </div>
  <div class="cell small-11 medium-6 align-center">
    {{ content.0.body }}
  </div>
  <div class="cell small-11 medium-6 align-center contact-methods">
     {% if content.0.field_phone.0 %}
     <div class="grid-container contact-phone"> 
       <div class="grid-x cell">
         <i class="fi-telephone"></i>
         <div class="grid-y">
           {{ content.0.field_phone }}
           {{ content.0.field_phone_text }}
         </div>
       </div>
     </div>
     {% endif %}
     {% if content.0.field_email.0 %}
     <div class="grid-container contact-email">
       <div class="grid-x cell">
         <i class="fi-mail"></i>
         <div class="grid-y">
         {{ content.0.field_email }}
         {{ content.0.field_email_text }}
         </div>
       </div>
     </div>
     {% endif %}
  </div>
</div>
