<div class="layout-container">

  <header role="banner" class="grid-x grid-container grid-margin-x full">
    <div class="cell small-12">
      {{ page.header }}
    </div>
  </header>

  <main role="main" class="grid-x grid-container grid-padding-x full">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% set has_sidebar = page.sidebar|render|striptags|trim is not empty %}
    <div class="layout-content cell small-12 {{ has_sidebar ? 'medium-10 large-10' : 'medium-12 large-12' }}">
      <div class="grid-container">
        {{ page.content }}
      </div>
    </div>

    {% if has_sidebar %}
      <div class="layout-sidebar cell small-12 medium-2 large-2'">
        {{ page.sidebar }}
      </div>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>
