<div id="locations" class="about-section about-locations-1">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-11 medium-6 align-center locations">
        <h2 class="text-{{ locs_title_align }}">{{ locs_title }}</h2>
        {{ locs_list|raw }}
      </div>
      <div class="cell small-11 medium-6 align-center team-list">
        <h2 class="text-{{ team_title_align }}">{{ team_title }}</h2>
        {{ team_list|raw }}
      </div>
    </div>
  </div>
</div>



