{% if faqs is not empty %}
<div class="faq-wrapper"> 
  <div class="grid-x">
    <div class="align-left">

      <h2>{{ node_title }}</h2>
      <div class="grid-y">

      {% if category_count > 1 %}
      <div class="cell faq-accordion">
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          {% for data in faqs %}
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">{{ data.title }}</a>
              <div class="accordion-content faq-simple" data-tab-content>
                {% for id, faq in data.faqs %}
                  <div class="faq">
                    <a href="#{{ id }}">{{ faq.q }}</a>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <hr>
      {% for data in faqs %}
        <div class="cell faq-category">
          <h3>{{ data.title }}</h3>
          {% for id, faq in data.faqs %}
            <div class="faq">
              <h4 id="{{ id }}">{{ faq.q }}</h4>
              {{ faq.a|raw }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      {% else %}
        {% for data in faqs %}
        <div class="cell faq-simple">
          {% for id, faq in data.faqs %}
            <div class="faq-question"><a href="#{{ id }}">{{ faq.q }}</a></div>
          {% endfor %}
        </div>
        <hr>
        {% endfor %}  
        {% for data in faqs %}
          {% for id, faq in data.faqs %}
          <div class="cell faq">
            <h4 id="{{ id }}">{{ faq.q }}</h4>
            {{ faq.a|raw }}
          </div>
          {% endfor %}
        {% endfor %}  
      {% endif %}

      </div>
    </div>
  </div>
</div>

{% else %}
  'No FAQs'
{% endif %}
