<div class="banner-wrap" style="height: 500px; background: {{ content.field_bg_color.0 }} url({{ bg_img }}) 0 0 no-repeat; background-size: cover;">
  <div class="banner-inner grid-x grid-padding-x align-{{ content.field_card_alignment.0 }}" style="height: 100%; width: 100%;">
    <div class="cell small-{{ content.field_card_size.0 }}" style="background-color: {{ content.field_card_bg_color.0 }}">
      <div style="text-align: center;">
        <h2>{{ content.field_title }}</h2>
        <h5>{{ content.field_subtitle }}</h5>
        {{ content.field_description }}
        {% for cta in content.field_cta['#items'] %}
          <a href="{{ cta.uri }}" class="button">{{ cta.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>