{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'grid-x grid-padding-x grid-padding-y'
  ]
%}

{% block paragraph %}
<div class="grid-container full">
  <div{{ attributes.addClass(classes) }}>
    <div class="cell {{ col1class }}">
      {{ content.field_column_1 }}
    </div>
    <div class="cell {{ col2class }}">
      {{ content.field_column_2 }}
    </div>
    <div class="cell {{ col3class }}">
      {{ content.field_column_3 }}
    </div>
  </div>
</div>
{% endblock paragraph %}
