{{ layout }}
<div class="home-overview">
  <h2>{{ paragraph.field_title.0.value }}</h2>
  <div class="grid-x grid-padding-x home-overview-content">
    {% if content.field_home_about_video.0 %}
    <div class="home-overview-video">{{ content.field_home_about_video }}</div>
      {% if content.field_overview_description.0 %}
      <div class="home-overview-desc">
        {{ content.field_overview_description }}
        {{ content.field_cta }}
      </div>
      {% endif %}
    {% else %}
      {% if content.field_overview_description.0 %}
      <div class="cell small-12 medium-auto home-overview-desc home-overview-columns">
        {{ content.field_overview_description }}
        {{ content.field_cta }}
      </div>
      {% endif %}
    {% endif %}

  </div>
</div>
