{% if has_items %}
  <div id="getting-started-process" class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell align-center small-12 medium-6">
        <h2>{{ content.field_title }}</h2>
        <ol class="process-items grid-y grid-margin-y">
          {% for step in steps %}
            <li class="cell">
              <div class="vertical-line">
              </div>
              <div class="card">
                <div class="card-section">
                  <h4>{{ step.field_title.value }}</h4>
                  <p>{{ step.field_getting_started_item_body.value }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ol>
        {% if paragraph.field_cta.0 %}
        <div class="process-cta">
          <a href="{{ paragraph.field_cta.0.url }}" class="button">{{ paragraph.field_cta.0.title }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
