<article{{ attributes }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% if display_submitted %}
  <footer>
    {{ author_picture }}
    <div{{ author_attributes }}>
    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
    {{ metadata }}
  </div>
  </footer>
  {% endif %}

  <div{{ content_attributes }}>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell small-11 medium-8">
          {% if content.field_faqs %}
          {{ content.field_faqs }}
          {% endif %}
        </div>
        <div class="cell small-11 medium-4">
          {% if content.field_contact_section_block %}
          {{ content.field_contact_section_block }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</article>
